*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
    /* --mainTransition: all 0.3s ease-in-out; */

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--offWhite);
    padding: 4.5em;  
}

.container{
    border-radius: 8px 8px 48px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    align-items: center;
    width: 100%;
    max-width: 80em;
    padding: 3em;
    font-family: poppins;
    background-color: var(--White);
    gap: 2em;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 40em;
    gap: 2em;
}

.generator{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 40em;
}


label{
    display: block;
    margin-bottom: 0.2em;
    
}

input{
    outline: none;
    margin: 0.54em 0;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 6px;
    border: 1px solid var(--lightGrey);
    cursor: pointer;
}

input::placeholder{
    font-size: 24px;
    text-align: center;
    padding-top: 0.1em;
}

input:focus{
    border: 1px solid var(--offBlack);
    outline: none;
}

.dayError{
    color: var(--lightRed);
    font-size: small;
    font-weight: bold;
}

.monthError{
    color: var(--lightRed);
    font-size: small;
    font-weight: bold;
}

.yearError{
    color: var(--lightRed);
    font-size: small;
    font-weight: bold;
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60em;
    
}

.linee{
    width: 37em;
    max-width: 50em;
    height: 0.1em;
    background-color: hsl(0, 0%, 86%);
}

.arrow{
    border: none;
    border-radius: 50%;
    width: 100%;
    max-width: 3.5em;
    padding: 0.6em;
    background-color: var(--purple);
    cursor: pointer;
}

.arrow img{
    display: block;
    width: 100%;
}

.arrow:hover{
    background-color: var(--offBlack);
}

#dte{
    width: 8em;
    height: 3.4em;
    
}

#mnth{
    width: 8em;
    height: 3.4em;
    
}

#yrs{
    width: 8em;
    height: 3.4em;
    

}

.bottom{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 50em;
    font-style: italic;
    font-weight: bolder;
    font-size: 48px;
    margin-top: 0.1em;
}

.purple1{
    color: var(--purple);
    font-weight: bolder;
}

.purple2{
    color: var(--purple);
}

.purple3{
    color: var(--purple);
}

@media screen and (max-width: 600px) {

    .top{
        width: 100%;
        max-width: 80%;
    }

    input{
        font-size: 0.8rem;
    }

    #dte{
        width: 5em;
    }

    #mnth{
        width: 5em;
    }

    #yrs{
        width: 5em;
    }

    .middle{
        width: 100%;
        /* max-width: 40em; */
        max-width: 80%;
        position: relative;
        
    }
    
    .linee{
        width: 100%;
        max-width: 100%;
        height: 0.1em;
    }
    
    .arrow{
        position: absolute;
        left: 40%;
    }
    
    .arrow img{
        display: block;
        width: 100%;
    }

    .bottom{
        max-width: 80%;
        font-size: 28px;
    }
    
}