*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
    /* --mainTransition: all 0.3s ease-in-out; */

}

body{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 80em;
    padding: 3em;
    /* height: 300px; */
    gap: 2em;
    /* font-size: 32px; */
}

.top{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 40em;
    /* height: 20em; */
    /* padding: 2em; */
    gap: 2em;
}

.generator{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 40em;
}

.generator::placeholder{
    font-size: 32px;
}

label{
    display: block;
    margin-bottom: 0.2em;
    /* font-size: 32px; */
    
}

input{
    outline: none;
    margin: 0.6em 0;
}

input:focus{
    border: 2px solid var(--purple);
    outline: none;
}

.dayError{
    color: var(--lightRed);
    font-size: small;
    font-weight: bold;
}

.monthError{
    color: var(--lightRed);
    font-size: small;
    font-weight: bold;
}

.yearError{
    color: var(--lightRed);
    font-size: small;
    font-weight: bold;
}

.middle{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50em;
    /* try using position property to fix the submit button properly
     */
    
}

.linee{
    width: 52em;
    height: 0.1em;
    border: black;
    background-color: hsl(0, 0%, 86%);
    /* opacity: 0.7;  */
}

/* button{
    border: 1px solid red;
    border-radius: 50%;
    width: 100%;
    max-width: 3em;
    background-color: hsl(259, 100%, 65%);
}

button img{
    display: block;
    width: 100%;
} */

.arrow{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 100%;
    max-width: 3em;
    padding: 0.6em;
    background-color: var(--purple);
    /* position: absolute; */
}

.arrow img{
    display: block;
    width: 100%;
}

.arrow:hover{
    background-color: var(--offBlack);
}

#dte{
    width: 10em;
    height: 3.4em;
    
     
    
}

#mnth{
    width: 10em;
    height: 3.4em;
    
}

#yrs{
    width: 10em;
    height: 3.4em;
    

}

.bottom{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 50em;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    margin-top: 1.em;
}
/* .day{
    width: 15em;
    max-width: 10em;
    height: 8em;
} */

.month{
    /* border: 1px solid red; */
    /* width: 15em;
    max-width: 10em;
    height: 8em; */
}

.year{
    /* border: 1px solid red; */
    /* width: 15em;
    max-width: 10em;
    height: 8em;  */
}

/* .output{
    list-style-type: none;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    margin-top: 1.em;
} */

.purple1{
    color: var(--purple);
}

.purple2{
    color: var(--purple);
}

.purple3{
    color: var(--purple);
}